<article>
<div id="titre">
        <br><br>
        <h1>Nouveautés</h1>
        <div id="ligne"></div>
        <br><br>
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/dragon-quest.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Dragon quest VII</a></p>
				</div>
			</div>
        </span>
 
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/pokemon.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Pokémon Ultra-Soleil</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/fireEmblem.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Fire Emblem Fates : Héritage</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/bravely.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Bravely Default</a></p>
				</div>
			</div>
        </span>
    </div>
</article>