/* Superposition image/titre */

div.wrapper{
  float:left; 
  position:relative; 
}
div.description{
  position:absolute; 
  bottom:0px; 
  left:0px;
  width:100%;
  background-color:black;
  color:white;
  opacity:0.6; 
  filter:alpha(opacity=60);
}
p.contenu{
  padding:0px;
  margin:0px;
  font-size: 20px;
  text-align: center;
}

@mixin ligne (){
    border-color: white;
    border-width: 0 0 2px;
    border-style: solid;
    background: transparent;
}

@mixin titre (){
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: white;
}

/* Pour les écrans dont la largeur est supérieure à 1200px */

@media screen and (min-width: 1200px) {
  article {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
  }

  #ligne{
    @include ligne ();
  }  

  #titre{
    @include titre ();
  }

  .bloc{
    display: inline-block;
    overflow: hidden;  
    border-radius: 2px;
    padding:auto;
    width:24%; 
    text-align: center;
  }
}

/* Pour les écrans dont la largeur est supérieure à 900px et inférieure à 1200px */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  article {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
  }

  #ligne{
    @include ligne ();
  }

  #titre{
    @include titre ();
  }

  .bloc{
    display: inline-block;
    overflow: hidden;  
    border-radius: 2px;
    padding: auto;
    width: 24%;
    text-align: center; 
  }
}

/* Pour les écrans dont la largeur est inférieure à 900px */
@media screen and (max-width: 900px) {
  article {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }

  #titre{
    @include titre ();
  }

    #ligne{
    @include ligne ();
  }

   
  .bloc{
    display: inline-block;
    margin-left: 0em;
    overflow: hidden;  
    border-radius: 2px;
    width: 100%;
    text-align: center; 

  }
}
