	<footer>
      <div class="container">
        <div class="col1">
			<h3>Nous connaître</h3>
			<h4>Nos coordonnées</h4>
			<i class="fa fa-envelope" aria-hidden="true"></i>12 rue du champ de foire, 87000 Limoges<br />
			<i class="fa fa-phone" aria-hidden="true"></i>05.55.22.85.00<br />
		</div>
		<div class="col2">
			<h3>Nous suivre</h3>
			<div class="icons">
				<i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
				<i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
				<i class="fa fa-youtube fa-4x" aria-hidden="true"></i>
			</div>
		</div>
      </div>
    </footer>








































<!--250.228.500.030.424-->