[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 23%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.Hulk{
  background: url('../../assets/img/Hulk.jpg') center / cover;
}
.Wolverine{
  background: url('../../assets/img/Wolverine.jpg') center / cover;
}
.Spiderman{
  background: url('../../assets/img/Spiderman.jpg') center / cover;
}
.Thor{
  background: url('../../assets/img/Thor.jpg') center / cover;
}
.Iron-Fist{
  background: url('../../assets/img/Iron-Fist.jpg') center / cover;
}
.Magneto{
  background: url('../../assets/img/Magneto.jpg') center / cover;
}
.Dr-Strange{
  background: url('../../assets/img/Dr-Strange.jpg') center / cover;
}
.Deadpool{
  background: url('../../assets/img/Deadpool.jpg') center / cover;
}
.Gambit{
  background: url('../../assets/img/Gambit.jpg') center / cover;
}
.Groot{
  background: url('../../assets/img/Groot.jpg') center / cover;
}
.titcard{
  background-color: rgba(0,0,0,0.5);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
  color: white;
}