<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
  	<div aria-expanded=false role="button" tabindex="0" class="mdl-layout__drawer-button">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">GameTracker</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Découvrir</a>
        <a class="mdl-navigation__link" href="">Boutique en ligne</a>
        <a class="mdl-navigation__link" href="">S'inscrire</a>
        <a class="mdl-navigation__link" href="">Connexion</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">GameTracker</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Découvrir</a>
      <a class="mdl-navigation__link" href="">Boutique en ligne</a>
      <a class="mdl-navigation__link" href="">S'inscrire</a>
      <a class="mdl-navigation__link" href="">Connexion</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>
<div class="wrap">
  <div class="search">
    <input type="text" class="rechercher" placeholder="Rechercher un jeu">
      <button type="submit" class="boutonRecherche">
        <i class="fa fa-search"></i>
      </button>
  </div>
</div>

 <article> 
    <div id="titre">
        <br><br>
        <h1>Nouveautés</h1>
        <div id="ligne"></div>
        <br><br>
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/dragon-quest.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Dragon quest VII</a></p>
				</div>
			</div>
        </span>
 
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/pokemon.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Pokémon Ultra-Soleil</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/fireEmblem.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Fire Emblem Fates : Héritage</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/bravely.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Bravely Default</a></p>
				</div>
			</div>
        </span>
    </div>
    
    <div id="titre">
        <br><br>
        <h1>Populaires</h1>
        <div id="ligne"></div>
        <br><br>
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/dragon-quest.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Dragon quest VII</a></p>
				</div>
			</div>
        </span>
 
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/pokemon.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Pokémon Ultra-Soleil</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/fireEmblem.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Fire Emblem Fates : Héritage</a></p>
				</div>
			</div>
        </span>
      
        <span class="bloc">
            <div class='wrapper'>
				<img src="assets/img/bravely.jpg" style="width: 100%" />
				<div class='description'>
					<p class='contenu'><a href='#'>Bravely Default</a></p>
				</div>
			</div>
        </span>
    </div>
  </article>
  
